<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en" }}">
<head>
    {{ partial "head.html" . }}
</head>
<body>
    <div class="overlay"></div>
    
    <div class="container">
        {{ partial "header.html" . }}
        
        <main>
            {{ block "main" . }}{{ end }}
        </main>
    </div>
    
    {{ with resources.Get "js/menu.js" }}
    <script src="{{ .RelPermalink }}"></script>
    {{ end }}

    {{ define "footer_js" }}
    <script src="{{ "js/main.js" | relURL }}"></script>
    <script src="{{ "js/toggle.js" | relURL }}"></script>
    {{ end }}
</body>
</html> 