{{ define "main" }}
    {{ $paginator := .Paginate (where .Site.RegularPages "Section" "posts") }}
    
    {{ range $paginator.Pages }}
        <article class="post">
            <div class="post-date">{{ .Date.Format "January 2, 2006" }}</div>
            <h2 class="post-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
            
            {{ if .Params.featured_image }}
            <div class="post-featured-image">
                <a href="{{ .Permalink }}">
                    <img src="{{ .Params.featured_image }}" alt="{{ .Title }}">
                </a>
            </div>
            {{ end }}
            
            <div class="post-content">
                {{ .Summary }}
            </div>
            <a href="{{ .Permalink }}" class="continue-reading">Continue reading →</a>
            
            {{ if .Params.tags }}
            <div class="tags">
                {{ range .Params.tags }}
                <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}" class="tag">#{{ . }}</a>
                {{ end }}
            </div>
            {{ end }}
        </article>
    {{ end }}
    
    {{ template "_internal/pagination.html" . }}
{{ end }} 